<div class="max-w-4xl  mx-auto p-4 bg-white rounded-lg shadow-md mt-4 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      
      <!-- Book Image -->
      <div class="flex justify-center">
        <img [src]="imageUrl" alt="user-avatar-image" class="w-full h-auto rounded-lg object-cover">
      </div>
  
      <!-- Book Details -->
      <div class="flex flex-col space-y-1">
        
        <!-- Title and Author -->
        <h1 class="text-3xl font-bold">{{livre?.titre}}</h1>
        <h2 class="text-xl font-semibold text-gray-700">by {{livre?.auteur}}</h2>
        
        <!-- Category -->
        <div class="text-sm text-gray-500">
          Categorie: <span class="text-gray-900 font-medium">{{livre?.category?.domaine}}</span>
        </div>
  
        <!-- Remaining Quantity -->
        <div class="text-sm text-gray-500">
          Quantité restante: <span class="text-gray-900 font-medium">{{livre?.quantite}}</span>
        </div>
  
        <!-- Description -->
        <div class="text-sm text-gray-900 ">
          Description:
          <br><br>
          <p class="text-gray-700 ">{{livre?.description}}</p>
        </div>
        
        
        <!-- Status -->
        <div>
          <span class="inline-block text-sm font-semibold text-gray-900 rounded-full">
          status : {{livre?.disponibilite}} 
          </span>
        </div>
        
        <!-- Created Date -->
        <div class="text-sm text-gray-500">
          Date Création: <span class="text-gray-900 font-medium">{{livre?.dateSortie | date}} </span>
        </div>
        
        <!-- Borrow Button -->
        <button 
          class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed" 
          
          >
          borrow
        </button>
  
      </div>
    </div>
  
    <!-- Comments Section -->
    <div class="mt-6">
      <h3 class="text-lg font-semibold">Comments:</h3>
      <ul class="space-y-4 mt-4">
        
        <li *ngFor="let comment of comments" class="p-4 bg-gray-100 rounded-lg">
          <p class="text-gray-800">{{ comment.commentaire }}</p>
           <span class="text-sm text-gray-500">- {{ comment?.etudiant?.nom }} {{ comment?.etudiant?.prenom }}</span>
          <span class="text-sm text-gray-500"> {{ comment?.createdDate | date }}</span> 
        </li>
     
      </ul>
    </div>
    <div class="mt-6"  *ngIf="!showCommentForm">
        <button 
          
          class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700" 
          (click)="toggleCommentForm()">
          Add Comment
        </button>
       
      </div>
      <div class="mt-6 flex flex-end" *ngIf="showCommentForm" >
       
        <button 
          
          class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700" 
          (click)="toggleCommentForm()">
          Cancel
        </button>
      </div>
    <div *ngIf="showCommentForm" class="mt-6">
        
        <!-- (ngSubmit)="addComment()" -->
        <form  class="mt-4">
          <div class="flex flex-col space-y-4">
            
            <!-- Author Input -->
           <!--  [(ngModel)]="newComment.author" --> 
           
            
            <!-- Comment Input -->
            <!-- [(ngModel)]="newComment.text" -->
            <textarea 
              
              name="text" 
              placeholder="Your Comment" 
              rows="3" 
              required 
              class="p-2 border rounded-lg"></textarea>
    
            <!-- Submit Button -->
            <button 
              type="submit" 
              class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">
              Submit Comment
            </button>
          </div>
        </form>
      </div>
  </div>
  