<!-- 
<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5" >
    <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
        <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
            <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
                <div class="flex items-center flex-1 space-x-4">
                    <h5>
                        <span class="text-gray-500">Nombre de Livres:</span>
                        <span class="dark:text-white">hhhh</span>
                    </h5>
                </div>
                <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
                    <button type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                       
                        Ajouter un livre
                    </button>
                   
                    
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
                        <tr class="items-center">
                           
                            <th scope="col" class="px-4 py-3">Titre</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Type</th>
                            <th scope="col" class="px-4 py-3">Etudiant</th>
                            <th scope="col" class="px-4 py-3">Status</th>
                            
                            <th scope="col" class="px-4 py-3">Quantité</th>
                            <th scope="col" class="px-4 py-3">Date Emprunt</th>
                            <th scope="col" class="px-4 py-3">Date Retour</th>
                            <th scope="col" class="px-4 py-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700" *ngFor="let emprunt of emprunts">
                           
                            <th scope="row" 
                            class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            >
                                {{emprunt.livre.titre}}
                            </th>
                            <td class="px-4 py-2">
                                <span class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">{{emprunt.livre.category.domaine}}</span>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    
                                    {{emprunt.livre.category.sous_domaine}}
                                </div>
                            </td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{emprunt.etudiant.nom}}</td>
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{emprunt.status}}</td>
                         
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-center">
                                <div>
                                    {{emprunt.livre.quantite}}
                                </div>
                            </td>
                            <td class="px-4 py-2 " >
                              <div style="margin-left: 20px;">
                                {{emprunt.dateEmprunt | date: 'shortDate'}}
                          </div>
                          </td>
                          
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{emprunt.dateRetour | date: 'shortDate'}}</td>
                    
                            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    <mat-icon class="text-primary-600">edit</mat-icon>
                                    <mat-icon class="text-red-600">delete</mat-icon>
                                    <svg class="w-5 h-5 text-blue-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                                        <path d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z"/>
                                    </svg>

                                </div>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <mat-paginator [length]="totalPages" [pageSize]="pageSize">
            </mat-paginator>    
        </div>
    </div>
    
  </section> -->
  
  <section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
    <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
        <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
            <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
                <div class="flex items-center flex-1 space-x-4">
                    <h5>
                        <span class="text-gray-500">Nombre de Livres:</span>
                        <span class="dark:text-white">hhhh</span>
                    </h5>
                </div>
                <div class="container-input">
                    <input type="text" placeholder="Search" name="text" class="input">
                    <svg style="cursor: pointer; " fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                      <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
                  </svg>
                  </div>
                  
            </div>
            <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" class="ngTable w-full text-sm text-left text-gray-500 dark:text-gray-400">

        <ng-container matColumnDef="titre" >
          <th mat-header-cell *matHeaderCellDef > Titre </th>
          <td mat-cell *matCellDef="let element" 
          class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          > {{element.livre.titre}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> <span class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">{{element.livre.category.domaine}}</span> </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"
          class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          > {{element.livre.category.sous_domaine}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="etudiant">
          <th mat-header-cell *matHeaderCellDef> Etudiant </th>
          <td mat-cell *matCellDef="let element"
          class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          > {{element.etudiant.nom}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"
            class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            > {{element.status}} </td>
          </ng-container>
      
    
        <ng-container matColumnDef="quantite">
            <th mat-header-cell *matHeaderCellDef> Quantité </th>
            <td mat-cell *matCellDef="let element"
            class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            > {{element.livre.quantite}} </td>
          </ng-container>
          <ng-container matColumnDef="dateEmprunt">
            <th mat-header-cell *matHeaderCellDef> Date Emprunt </th>
            <td mat-cell *matCellDef="let element"
            class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            > {{element.dateEmprunt | date: 'shortDate'}} </td>
          </ng-container>
        <ng-container matColumnDef="dateRetour">
            <th mat-header-cell *matHeaderCellDef> Date Retour </th>
            <td mat-cell *matCellDef="let element"
            class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            > {{element.dateRetour | date: 'shortDate'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> Actions </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]"
                 showFirstLastButtons
                >
  </mat-paginator> 
    </div>
        </div>
    </div>
  </section>
 
  
  