<div class="flex justify-center  px-10 py-5 m-2  sm:mx-8 md:mt-12 lg:mx-12 xl:mx-32"
     style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 30px;">
    <div class="w-full max-w-3xl sm:h-full md:h-94"> <!-- Adjust max-width as needed -->
    <ol class="flex items-center w-full text-sm text-gray-500 font-medium sm:text-base mb-12">

        <li  class=" text-primary-500 flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-4 xl:after:mx-8" >
        <div class="flex items-center whitespace-nowrap after:content-['/'] sm:after:hidden after:mx-2">
            Info de Categorie
        </div>
        </li>
    </ol>

    <div class="grid">
        <form >
            <div class="flex flex-wrap w-full mx-auto gap-4">
                <div class="relative mb-6">
                    <label for="titre" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Titre du Livre
                        &nbsp;
                        <span> (Optional)</span>
                    </label>
                    <input  name="titre" id="titre" formControlName="titre" required class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="titre livre" required="">
                  </div>
                  <div class="relative mb-6">
                    <label for="auteur" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Auteur
                        &nbsp;
                        <span> (Optional)</span>
                    </label>
                    <input  type="text" name="auteur" id="auteur" formControlName="auteur" required  class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="auteur" required="">
                  </div>
                  <div class="relative mb-6">
                    <label for="disponibilite" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Disponibilité
                        &nbsp;
                        <span> (Optional)</span>
                    </label>
                    <select  id="disponibilite" formControlName="disponibilite" required class="h-12 border border-gray-300 text-gray-600 text-base rounded-lg block w-full py-2.5 px-4 focus:outline-none">
                        <option [disabled]="true" selected>Choisir une Disponibilité</option>
                        <option value="Disponible">Disponible</option>
                        <option value="Indisponible">Indisponible</option>
                        <option value="Reserve">Reservé</option>
                      </select>
                </div>
               
               
                
            </div>
            <div class="flex justify-start w-full gap-2 ">
                <div class="relative mb-6 w-2/3">
                  <label for="quantite" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Quantité
                    &nbsp;
                <span> (Optional)</span>
                  </label>
                  <input  type="number" name="quantite" id="quantite" formControlName="quantite" required  class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="quantite" required="">
                </div>
                <div class="relative mb-6 w-2/3">
                  <label for="dateSortie" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Date de Sortie
                    &nbsp;
                <span> (Optional)</span>
                  </label>
                  <input  type="date" name="dateSortie" id="dateSortie" formControlName="dateSortie" required  class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="date" required="">
                </div>
              </div>
              <div class="sm:col-span-2 mb-6">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description&nbsp;
                    <span> (Optional)</span></label>
                <textarea id="description" formControlName="description" required rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-900 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write a product description here...">
                </textarea>
            </div>
                <div class="flex justify-between mt-2">
                     <button type="button" class="button-grp" >Modifier</button>
                     <button type="button" class="button-grp-cancel" >Cancel</button>
                 
                </div> 
        </form>
    </div>
    </div>
</div>
