<div class="container mx-auto p-4 mt-6" >
  <form [formGroup]="etudiantForm" (ngSubmit)="Save()" 
  class="max-w-xl mx-auto p-6 border border-gray-300 rounded-lg shadow-lg bg-white" >
      <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
              <input type="text" name="nom" id="nom" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="nom" required />
              <label for="nom" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
          </div>
          <div class="relative z-0 w-full mb-6 group">
              <input type="text" name="prenom" id="prenom" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="prenom" required />
              <label for="prenom" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prenom</label>
          </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
          <mat-form-field appearance="fill" class="w-full custom-form-field ">
            <mat-label>Ville</mat-label>
            <mat-select formControlName="ville" required >
              <mat-option value="" disabled selected></mat-option>
              <mat-option value="Tanger-Tetouan-Al Hoceima">Tanger-Tetouan-Al Hoceima</mat-option>
              <mat-option value="Oriental">Oriental</mat-option>
              <mat-option value="Fès-Meknès">Fès-Meknès</mat-option>
              <mat-option value="Rabat-Salé-Kénitra">Rabat-Salé-Kénitra</mat-option>
              <mat-option value="Béni Mellal-Khénifra">Béni Mellal-Khénifra</mat-option>
              <mat-option value="Casablanca-Settat">Casablanca-Settat</mat-option>
              <mat-option value="Marrakesh-Safi">Marrakesh-Safi</mat-option>
              <mat-option value="Drâa-Tafilalet">Drâa-Tafilalet</mat-option>
              <mat-option value="Souss-Massa">Souss-Massa</mat-option>
              <mat-option value="Guelmim-Oued Noun">Guelmim-Oued Noun</mat-option>
              <mat-option value="Laâyoune-Sakia El Hamra">Laâyoune-Sakia El Hamra</mat-option>
              <mat-option value="Dakhla-Oued Ed-Dahab">Dakhla-Oued Ed-Dahab</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
          <div class="relative z-0 w-full mb-6 group">
              <!-- <input type="text" name="gender" id="gender" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="sexe"  required />
              <label for="gender" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Sexe</label>
               -->
              <mat-form-field appearance="fill" class="w-full custom-form-field">
                <mat-label>Sexe</mat-label>
                <mat-select formControlName="sexe" required>
                  <mat-option value="" disabled selected></mat-option>
                  <mat-option value="Masculin">Masculin</mat-option>
                  <mat-option value="Feminin">Feminin</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
              <input type="text" name="cne" id="cne" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  formControlName="cne"  required />
              <label for="cne" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">CNE</label>
          </div>
          <div class="relative z-0 w-full mb-6 group">
              <!-- <input type="text" name="nationality" id="nationality" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="nationalite"  required />
              <label for="nationality" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nationalité</label>
 -->
            
              
                <input type="tel" name="tel" id="tel" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="tel" required />
                <label for="tel" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telephone</label>
            
          </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">

          <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="email"  required />
          <label for="email" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
          <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="password"  required />
          <label for="password" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
      </div>
        </div>
      <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-6 group">
              <!-- <input type="text" name="filiere" id="filiere" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="filiere"  required />
              <label for="filiere" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Filiére</label>
 -->
              <mat-form-field appearance="fill" class="w-full custom-form-field">
                <mat-label>Filiere</mat-label>
                <mat-select formControlName="filiere" required>
                  <mat-option value="" disabled selected></mat-option>
                  <mat-option value="BDCC">BDCC</mat-option>
                  <mat-option value="GLSID">GLSID</mat-option>
                  <mat-option value="CCN">CCN</mat-option>
                  <mat-option value="SDIA">SDIA</mat-option>
                  <mat-option value="GECSI">GECSI</mat-option>
                  <mat-option value="GMSI">GMSI</mat-option>
                  <mat-option value="GIL">GIL</mat-option>
                  <mat-option value="GEII">GEII</mat-option>
                 
                </mat-select>
              </mat-form-field>
          </div>
          <div class="relative z-0 w-full mb-6 group">
              <!-- <input type="text" name="level" id="level" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " formControlName="niveau"  required />
              <label for="level" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Niveau</label>
               -->
              <mat-form-field appearance="fill" class="w-full custom-form-field">
                <mat-label>Niveau</mat-label>
                <mat-select formControlName="niveau" required>
                  <mat-option value="" disabled selected></mat-option>
                  <mat-option value="FI-1">FI-1</mat-option>
                  <mat-option value="FI-2">FI-2</mat-option>
                  <mat-option value="FI-3">FI-3</mat-option>
                  <mat-option value="M-1">M-1</mat-option>
                  <mat-option value="M-2">M-2</mat-option>
                 
                </mat-select>
              </mat-form-field>
          </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
          <mat-form-field appearance="fill" class="w-full custom-form-field">
            <mat-label>Nationalité</mat-label>
            <mat-select formControlName="nationalite" required>
              <mat-option value="" disabled selected></mat-option>
              <mat-option value="Marocain">Marocain</mat-option>
              <mat-option value="Etranger">Etranger</mat-option>
            </mat-select>
          </mat-form-field>
     
      
    </div>
  
      
    <div class="container mx-auto p-4 mt-6" style="height: auto; width: 30rem;" *ngIf="isSelected">
      <div class="flex items-center justify-center w-full">
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" (change)="onFileSelected($event)" class="hidden" />
            <button *ngIf="isUploaded" (click)="onUpload()">Upload</button>
        </label>
</div> 
</div>
<div class="container mx-auto p-4 mt-6">
  <div class="success" *ngIf="alertType === 'success'">
    <div class="success__icon">
      <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="#393a37" fill-rule="evenodd"></path></svg>
    </div>
    <div class="success__title">Operation successful</div>
    <div class="success__close">
      <svg
        height="20"
        viewBox="0 0 20 20"
        width="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
          fill="#393a37"
        ></path>
      </svg>
    </div>
  </div>
  
  <div class="error" *ngIf="alertType === 'echec'">
    <div class="error__icon">
      <svg
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"
          fill="#393a37"
        ></path>
      </svg>
    </div>
    <div class="error__title">lorem ipsum dolor sit amet</div>
    <div class="error__close">
      <svg
        height="20"
        viewBox="0 0 20 20"
        width="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
          fill="#393a37"
        ></path>
      </svg>
    </div>
  </div>
  
</div>
<button type="submit" [disabled]="!etudiantForm.valid || etudiantForm.pristine" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" style="cursor: pointer;">Envoyer</button>
</form>
</div> 




