html, body, app-root, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars if not needed */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportClass {
  width: 100%;
  height: 100%;
}
