/* app.component.css */
.reportClass {
    /* Add any styles you need for the embedded report */
    width:max-content;
    height: max-content;
  }
  .container {
    /* Add any styles you need for the container */
    padding: 3rem;
    margin: 5rem;
    width: 800px;
    height: 500px;
  }