
 <section class="relative pt-40 pb-24"  *ngIf="myProfil">
    <img src="https://pagedone.io/asset/uploads/1705473908.png" alt="cover-image" class="w-full absolute top-0 left-0 z-0 h-60">
    <div class="w-full max-w-7xl mx-auto px-6 md:px-8">
        <div class="flex items-center justify-center sm:justify-start relative z-10 mb-5">
            <img [src]="imageUrl" alt="user-avatar-image"
                class="border-4 border-solid border-white w-40 h-40 rounded-full">
        </div>
        <div class="flex items-center justify-center flex-col sm:flex-row max-sm:gap-5 sm:justify-between ">
            <div class="block">
                <h3 class="font-manrope font-bold text-4xl text-gray-900 max-sm:text-center">{{ myProfil.nom }} {{ myProfil.prenom }}</h3>
                <p class="font-normal text-base leading-7 text-gray-500  max-sm:text-center">{{ myProfil.email }}
            </div>
            <button
                class=" button-grp">
               
                <span class=" font-semibold text-white" (click)="openModal()">Modifer le profile</span>
            </button>
        </div>
        <div class="flex max-sm:flex-wrap max-sm:justify-center items-center gap-4 mt-4">
            <a href="javascript:;" (click)="onInfo()" class="rounded-full py-3 px-6 bg-stone-100 text-gray-700 font-semibold text-sm leading-6 transition-all duration-500 hover:bg-stone-200 hover:text-gray-900" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">Mes Informations</a>
            <a href="javascript:;" (click)="onEmpr()" class="rounded-full py-3 px-6 bg-stone-100 text-gray-700 font-semibold text-sm leading-6 transition-all duration-500 hover:bg-stone-200 hover:text-gray-900" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">Mes Emprunts</a>
            <a href="javascript:;" (click)="onResv()" class="rounded-full py-3 px-6 bg-stone-100 text-gray-700 font-semibold text-sm leading-6 transition-all duration-500 hover:bg-stone-200 hover:text-gray-900" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;">Mes Reservations</a>
        </div>
        <div class="m-5"  *ngIf="isInfo">
            <div class="max-w-4xl  p-6 bg-white shadow-md rounded-lg"  style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                
                  <div class="flex items-center">
                    <img src="https://via.placeholder.com/50" alt="profile-pic" class="w-12 h-12 rounded-full mr-4">
                    <div>
                      <p class="text-gray-800 font-semibold">{{myProfil.nationalite}}</p>
                      <p class="text-gray-500 text-sm">{{myProfil.ville}}</p>
                    </div>
                  </div>
                 
                  <div class="flex items-center">
                    <img src="https://via.placeholder.com/50" alt="relationship-pic" class="w-12 h-12 rounded-full mr-4">
                    <div>
                      <p class="text-gray-800">Sexe :<span class="font-bold">{{myProfil.sexe}}</span></p>
                    </div>
                  </div>
                 
                  <div class="flex items-center">
                    <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                      <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 7l9-5-9-5-9 5 9 5z"></path>
                      </svg>
                    </div>
                    <div>
                      <p class="text-gray-800 font-semibold">{{myProfil.email}}</p>
                    </div>
                  </div>
                  
                  <div class="flex items-center">
                    <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                      <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 10h18m-7 5h7"></path>
                      </svg>
                    </div>
                    <div>
                      <p class="text-gray-800">{{myProfil.tel}}</p>
                     
                    </div>
                  </div>
                
                  <div class="flex items-center">
                    <img src="https://via.placeholder.com/50" alt="location-pic" class="w-12 h-12 rounded-full mr-4">
                    <div>
                      <p class="text-gray-800">Année : <span class="font-bold">{{myProfil.niveau}}</span></p>
                      <p class="text-gray-500 text-sm">Filiére : <span class="font-semibold">{{myProfil.filiere}}</span></p>
                    </div>
                  </div>
                 
                  <div class="flex items-center">
                    <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                      <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 10h18m-7 5h7"></path>
                      </svg>
                    </div>
                    <div>
                        <p class="text-gray-800">CNE :<span class="font-bold">{{myProfil.cne}}</span></p>

                    </div>
                  </div>
                </div>
              </div>
             
        </div>
        <div class="m-5"   *ngIf="isEmpr">
      <!--   <div class="overflow-x-auto" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
            <table mat-table [dataSource]="dataSource" class="ngTable w-full text-sm text-left ">
                <ng-container matColumnDef="titre" >
                  <th mat-header-cell *matHeaderCellDef scope="col" class="custom-header-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" > Titre </th>
                  <td mat-cell *matCellDef="let element" 
                  class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                  > {{element.livre.titre}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef scope="col" class="custom-header-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Category </th>
                  <td mat-cell *matCellDef="let element"> <span class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">{{element.livre.category.domaine}}</span> </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef scope="col" class="custom-header-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Type </th>
                  <td mat-cell *matCellDef="let element"
                  class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                  > {{element.livre.category.sous_domaine}} </td>
                </ng-container>

                  <ng-container matColumnDef="dateEmprunt">
                    <th mat-header-cell *matHeaderCellDef scope="col" class="custom-header-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Date Emprunt </th>
                    <td mat-cell *matCellDef="let element"
                    class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    > {{element.dateEmprunt | date: 'shortDate'}} </td>
                  </ng-container>
                <ng-container matColumnDef="dateRetour">
                    <th mat-header-cell *matHeaderCellDef scope="col" class="custom-header-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> Date Retour </th>
                    <td mat-cell *matCellDef="let element"
                    class=" px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    > {{element.dateRetour | date: 'shortDate'}} </td>
                  </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10]"
                         showFirstLastButtons
                        >
          </mat-paginator> 
            
      </div> -->
      <div class="overflow-x-auto" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 " >
            <thead class="text-xs text-gray-800 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 bg-gray-400" >
                <tr class="items-center">
                   
                    <th scope="col" class="px-4 py-3">Titre</th>
                    <th scope="col" class="px-4 py-3">Category</th>
                    <th scope="col" class="px-4 py-3">Type</th>
                    <th scope="col" class="px-4 py-3">Date Empruntes</th>
                    <th scope="col" class="px-4 py-3">Date Retour</th>
                    <th scope="col" class="px-4 py-3">Actions</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700" *ngFor="let emp of paginatedEmprunts">
                   
                    <th scope="row" class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{emp.livre.titre}}
                    </th>
                    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex items-center">
                            
                            {{emp.livre.category.domaine}}
                        </div>
                    </td>
                    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{emp.livre.category.sous_domaine}}</td>                    
                    <td class="px-4 py-2  ">
                        <div>
                          {{emp.dateEmprunt | date: 'shortDate'}}
                        </div>
                    </td>
                    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white" >
                      <div>
                        {{emp.dateRetour| date: 'shortDate'}}
                      </div>
                  </td>
                  <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-beetween gap-2" >
                    
                    <button type='button'
                     class='py-2 px-4 flex items-center gap-2 text-sm rounded-full border border-solid border-red-200 text-red-600 cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-red-600 hover:text-white'>

                     Supprimer
                     <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3 6.60001H21M4.8 6.60001H19.2V15C19.2 17.8284 19.2 19.2426 18.3213 20.1213C17.4426 21 16.0284 21 13.2 21H10.8C7.97157 21 6.55736 21 5.67868 20.1213C4.8 19.2426 4.8 17.8284 4.8 15V6.60001Z" stroke="black" stroke-width="1.7" stroke-linecap="round" class="my-path"></path>
                      <path d="M7.49994 6.59994V4.99994C7.49994 3.89537 8.39537 2.99994 9.49994 2.99994H14.4999C15.6045 2.99994 16.4999 3.89537 16.4999 4.99994V6.59994M16.4999 6.59994H2.99994M16.4999 6.59994H21" stroke="black" stroke-width="1.7" stroke-linecap="round" class="my-path"></path>
                      <path d="M10.2 11.1L10.2 16.5" stroke="black" stroke-width="1.7" stroke-linecap="round" class="my-path"></path>
                      <path d="M13.8 11.1L13.8 16.5" stroke="black" stroke-width="1.7" stroke-linecap="round" class="my-path"></path>
                      </svg>
                    </button>
                    
                </td>
                     
                
                  </tr>
            
            </tbody>
        </table>
        <div class="flex justify-between items-center p-4">
          <button (click)="previousPage()" [disabled]="pageIndex === 0" class="px-4 py-2 bg-gray-300 rounded disabled:opacity-50">Previous</button>
          <div>Page {{pageIndex + 1}} of {{totalPages}}</div>
          <button (click)="nextPage()" [disabled]="pageIndex + 1 >= totalPages" class="px-4 py-2 bg-gray-300 rounded disabled:opacity-50">Next</button>
        </div>
    </div>
    </div>
    </div>
</section>

<div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-800 bg-opacity-80 flex justify-center items-center z-50">
  
  <!-- Modal -->
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-3xl mx-2">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-semibold">Modifier le profil</h3>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>

    <!-- Form inside the modal -->
    <form [formGroup]="updateEtdForm" (ngSubmit)="updateprofil()">
      <div class="flex flex-wrap gap-3">
      <div class="relative mb-6">
        <label for="nom" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Nom</label>
        <input name="nom" id="nom" formControlName="nom" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau Nom" required>
      </div>
      <div class="relative mb-6">
        <label for="prenom" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Prenom</label>
        <input type="text" name="prenom" id="prenom" formControlName="prenom" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau prenom" required>
      </div>
      <div class="relative mb-6">
        <label for="tel" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Telephone</label>
        <input name="tel" id="tel" formControlName="tel" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau Telephone" required>
      </div>
      <div class="relative mb-6">
        <label for="ville" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Ville</label>
        <input type="text" name="ville" id="ville" formControlName="ville" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouvelle Ville" required>
      </div>
      <div class="relative mb-6">
        <label for="sexe" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Sexe</label>
        <select name="sexe" id="sexe" formControlName="sexe" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
          <option value="" disabled selected>Sélectionner le sexe</option>
          <option value="Masculin" >Masculin</option>
          <option value="Feminin">Féminin</option>
        </select>
      </div>
      
      <div class="relative mb-6">
        <label for="niveau" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Niveau</label>
        <select name="niveau" id="niveau" formControlName="niveau" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
          <option value="" disabled selected>Sélectionner le Niveau</option>
          <option value="FI-1">FI-1</option>
          <option value="FI-2">FI-2</option>
          <option value="FI-3">FI-3</option>
          <option value="M-1">M-1</option>
          <option value="M-2">M-2</option>
        </select>
      </div>
      <div class="relative mb-6">
        <label for="nationalite" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Nationalité</label>
        <select name="nationalite" id="nationalite" formControlName="nationalite" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
          <option value="" disabled selected>Sélectionner la Nationalité</option>
          <option value="Marocain">Marocain</option>
          <option value="Etranger">Etranger</option>
        </select>
      </div>
      
      <div class="relative mb-6">
        <label for="filiere" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Filière</label>
        <select name="filiere" id="filiere" formControlName="filiere" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
          <option value="" disabled selected>Sélectionner la Filière</option>
          <option value="BDCC">BDCC</option>
          <option value="GLSID">GLSID</option>
          <option value="CCN">CCN</option>
          <option value="SDIA">SDIA</option>
          <option value="GECSI">GECSI</option>
          <option value="GMSI">GMSI</option>
          <option value="GIL">GIL</option>
          <option value="GEII">GEII</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      
    </div>
      
      <!-- Submit and Cancel buttons -->
      <div class="flex justify-end space-x-4">
        <button type="button" (click)="closeModal()" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700">Cancel</button>
        <button type="submit" class="py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Modifier</button>
      </div>
    </form>
  </div>
</div>