<section class="relative pt-36 pb-24">
    <img src="https://pagedone.io/asset/uploads/1705471739.png" alt="cover-image" class="w-full absolute top-0 left-0 z-0 h-60">
    <div class="w-full max-w-7xl mx-auto px-6 md:px-8">
        <div class="flex items-center justify-center relative z-10 ">
            <img [src]="imageUrl" alt="user-avatar-image" class="mt-8 w-32 h-32 border-4 border-solid border-gray-200 rounded-full">
        </div>
        <div class="flex flex-col sm:flex-row max-sm:gap-5 items-center justify-between mb-5">
            <ul class="flex items-center gap-5">
                <li> <a href="javascript:;" class="flex items-center gap-2 cursor-pointer group">
                        
                        <div class="flex flex-col items-center">
                        <span class="font-medium text-base leading-7 text-gray-800">{{emprunts}}</span>
                        <span class="font-manrope text-base leading-7 text-gray-500">Empruntes</span>
                    </div>
                    </a>
                </li>
                <li> <a href="javascript:;" class="flex items-center gap-2 cursor-pointer group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="60" viewBox="0 0 5 20" fill="none">
                        <path d="M4.12567 1.13672L1 18.8633" stroke="#E5E7EB" stroke-width="1.6" stroke-linecap="round" />
                    </svg>
                    
                        <div class="flex flex-col items-center">
                            <span class="font-medium text-base leading-7 text-gray-800">11</span>
                        <span class="font-manrope text-base leading-7 text-gray-500">Reservations</span>
                    </div>
                    </a>
                </li>
                <li><a href="javascript:;" class="flex items-center gap-2 cursor-pointer group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="60" viewBox="0 0 5 20" fill="none">
                        <path d="M4.12567 1.13672L1 18.8633" stroke="#E5E7EB" stroke-width="1.6" stroke-linecap="round" />
                    </svg>
                    
                        <div class="flex flex-col items-center">
                            <span class="font-medium text-base leading-7 text-gray-800" *ngIf="etudiant.blackListed">Oui</span>
                            <span class="font-medium text-base leading-7 text-gray-800" *ngIf="!etudiant.blackListed">Non</span>  
                        <span class="font-manrope text-base leading-7 text-gray-600">Black List</span>
                    </div>
                    </a>
                </li>
            </ul>
            <div class="flex items-center gap-4">
                <button
                class=" button-grp">
               
                <span class=" font-semibold text-white" (click)="openModal()">Modifer le profile</span>
            </button>
            </div>
        </div>
        <h3 class="text-center font-manrope font-bold text-3xl leading-10 text-gray-900 mb-3 capitalize">{{etudiant.nom}} {{etudiant.prenom}}</h3>
        <p class="font-normal text-base leading-7 text-gray-500 text-center mb-8">Mon E-mail: {{etudiant.email}}</p>
        <div class="flex items-center justify-center gap-5">
            <a href="javascript:;"
                class="p-3 rounded-full border border-solid border-gray-300 group bg-gray-50 transition-all duration-500 hover:bg-indigo-700 hover:border-indigo-700">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1115_412)">
                        <path class="fill-blue-400 transition-all duration-500 group-hover:fill-white"
                            d="M20 10.2391C20 9.56523 19.9333 8.86958 19.8222 8.21741H10.2V12.0652H15.7111C15.4889 13.3044 14.7556 14.3913 13.6667 15.087L16.9556 17.587C18.8889 15.8261 20 13.2609 20 10.2391Z"
                            fill="" />
                        <path class="fill-green-400 transition-all duration-500 group-hover:fill-white"
                            d="M10.2 19.9783C12.9556 19.9783 15.2667 19.087 16.9556 17.5652L13.6667 15.087C12.7556 15.6957 11.5778 16.0435 10.2 16.0435C7.53337 16.0435 5.28893 14.2826 4.46671 11.9348L1.08893 14.4783C2.82226 17.8479 6.33337 19.9783 10.2 19.9783Z"
                            fill="#34A353" />
                        <path class="fill-yellow-400 transition-all duration-500 group-hover:fill-white"
                            d="M4.46673 11.913C4.0445 10.6739 4.0445 9.32608 4.46673 8.08695L1.08895 5.52173C-0.355496 8.34782 -0.355496 11.6739 1.08895 14.4783L4.46673 11.913Z"
                            fill="#F6B704" />
                        <path class="fill-red-400 transition-all duration-500 group-hover:fill-white"
                            d="M10.2 3.97827C11.6445 3.95653 13.0667 4.5 14.1112 5.47827L17.0223 2.6087C15.1778 0.913046 12.7334 2.58834e-06 10.2 0.0217417C6.33337 0.0217417 2.82226 2.15218 1.08893 5.52174L4.46671 8.08696C5.28893 5.7174 7.53337 3.97827 10.2 3.97827Z"
                            fill="#E54335" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1115_412">
                            <rect width="20" height="20" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a href="javascript:;"
                class="p-3 rounded-full border border-solid border-gray-300 bg-gray-50 group transition-all duration-500 hover:bg-indigo-700 hover:border-indigo-700">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1115_52)">
                        <path class="fill-indigo-600 transition-all duration-500 group-hover:fill-white"
                            d="M10.0001 20C15.523 20 20.0001 15.5228 20.0001 10C20.0001 4.47715 15.523 0 10.0001 0C4.47727 0 0.00012207 4.47715 0.00012207 10C0.00012207 15.5228 4.47727 20 10.0001 20Z"
                            fill="" />
                        <path class="fill-white transition-all duration-500 group-hover:fill-indigo-700"
                            d="M13.2516 3.06946H11.0364C9.72179 3.06946 8.25958 3.62236 8.25958 5.52793C8.266 6.1919 8.25958 6.82779 8.25958 7.54345H6.73877V9.96352H8.30665V16.9305H11.1877V9.91754H13.0893L13.2613 7.53666H11.1381C11.1381 7.53666 11.1428 6.47754 11.1381 6.16997C11.1381 5.41693 11.9216 5.46005 11.9688 5.46005C12.3416 5.46005 13.0666 5.46114 13.2527 5.46005V3.06946H13.2516V3.06946Z"
                            fill="" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1115_52">
                            <rect width="20" height="20" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a href="javascript:;"
                class="p-3 rounded-full border border-solid border-gray-300 bg-gray-50 group transition-all duration-500 hover:bg-indigo-700 hover:border-indigo-700">
                <svg class="stroke-red-600 transition-all duration-500 group-hover:stroke-white" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.1667 5.83333V5.875M9.16673 17.5H10.8334C13.9761 17.5 15.5474 17.5 16.5237 16.5237C17.5001 15.5474 17.5001 13.976 17.5001 10.8333V9.16667C17.5001 6.02397 17.5001 4.45262 16.5237 3.47631C15.5474 2.5 13.9761 2.5 10.8334 2.5H9.16673C6.02403 2.5 4.45268 2.5 3.47637 3.47631C2.50006 4.45262 2.50006 6.02397 2.50006 9.16667V10.8333C2.50006 13.976 2.50006 15.5474 3.47637 16.5237C4.45268 17.5 6.02403 17.5 9.16673 17.5ZM13.3334 10C13.3334 11.8409 11.841 13.3333 10.0001 13.3333C8.15911 13.3333 6.66673 11.8409 6.66673 10C6.66673 8.15905 8.15911 6.66667 10.0001 6.66667C11.841 6.66667 13.3334 8.15905 13.3334 10Z"
                        stroke="" stroke-width="1.6" stroke-linecap="round" />
                </svg>
            </a>
            <a href="javascript:;"
                class="p-3 rounded-full border border-solid border-gray-300 group bg-gray-50 transition-all duration-500 hover:bg-indigo-700 hover:border-indigo-700">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-red-600 transition-all duration-500 group-hover:fill-white"
                        d="M1.40288 6.21319C1.48321 4.97646 2.47753 4.00723 3.71535 3.9459C5.5078 3.8571 8.06973 3.75 10.0001 3.75C11.9304 3.75 14.4923 3.8571 16.2848 3.9459C17.5226 4.00723 18.5169 4.97646 18.5972 6.21319C18.6742 7.39808 18.7501 8.85604 18.7501 10C18.7501 11.144 18.6742 12.6019 18.5972 13.7868C18.5169 15.0235 17.5226 15.9928 16.2848 16.0541C14.4923 16.1429 11.9304 16.25 10.0001 16.25C8.06973 16.25 5.5078 16.1429 3.71535 16.0541C2.47753 15.9928 1.48321 15.0235 1.40288 13.7868C1.32591 12.6019 1.25006 11.144 1.25006 10C1.25006 8.85604 1.32591 7.39808 1.40288 6.21319Z"
                        fill="#FC0D1B" />
                    <path class="fill-white transition-all duration-500 group-hover:fill-indigo-700" d="M8.12506 7.5V12.5L13.1251 10L8.12506 7.5Z" fill="white" />
                </svg>
            </a>
            <a href="javascript:;"
                class="p-3 rounded-full border border-solid border-gray-300 group bg-gray-50 transition-all duration-500 hover:bg-indigo-700 hover:border-indigo-700">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle class="transition-all duration-500 group-hover:fill-white" cx="10.0001" cy="10" r="8.75" fill="url(#paint0_linear_1115_481)" />
                    <path class="transition-all duration-500 group-hover:fill-indigo-700"
                        d="M14.3667 6.38049C14.4446 5.87707 13.9659 5.47972 13.5183 5.67625L4.60307 9.59053C4.28208 9.73146 4.30556 10.2177 4.63848 10.3237L6.47703 10.9092C6.82792 11.0209 7.20789 10.9631 7.5143 10.7514L11.6594 7.88767C11.7844 7.80131 11.9207 7.97904 11.8139 8.08914L8.83013 11.1654C8.54069 11.4638 8.59814 11.9695 8.94629 12.1878L12.2869 14.2827C12.6616 14.5176 13.1436 14.2816 13.2137 13.8288L14.3667 6.38049Z"
                        fill="white" />
                    <defs>
                        <linearGradient id="paint0_linear_1115_481" x1="10.0001" y1="1.25" x2="10.0001" y2="18.75"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#37BBFE" />
                            <stop offset="1" stop-color="#007DBB" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>
        </div>
        
        <div class="mt-4">
            <div class="max-w-4xl w-full mx-auto p-6 bg-white shadow-md rounded-lg" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Your existing child elements remain the same -->
                    <div class="flex items-center">
                        <img src="https://via.placeholder.com/50" alt="profile-pic" class="w-12 h-12 rounded-full mr-4">
                        <div>
                            <p class="text-gray-800 font-semibold">{{etudiant.nationalite}}</p>
                            <p class="text-gray-500 text-sm">{{etudiant.ville}}</p>
                        </div>
                    </div>
        
                    <div class="flex items-center">
                        <img src="https://via.placeholder.com/50" alt="relationship-pic" class="w-12 h-12 rounded-full mr-4">
                        <div>
                            <p class="text-gray-800"><span class="font-bold">{{etudiant.sexe}}</span></p>
                        </div>
                    </div>
        
                    <div class="flex items-center">
                        <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 7l9-5-9-5-9 5 9 5z"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="text-gray-800">Année : <span class="font-bold">{{etudiant.niveau}}</span></p>
                        </div>
                    </div>
        
                    <div class="flex items-center">
                        <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 10h18m-7 5h7"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="text-gray-800">{{etudiant.tel}}</p>
                        </div>
                    </div>
        
                    <div class="flex items-center">
                        <img src="https://via.placeholder.com/50" alt="location-pic" class="w-12 h-12 rounded-full mr-4">
                        <div>
                            <p class="text-gray-500 text-sm">Filiére : <span class="font-semibold">{{etudiant.filiere}}</span></p>
                        </div>
                    </div>
        
                    <div class="flex items-center">
                        <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center mr-4">
                            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 10h18m-7 5h7"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="text-gray-800">CNE :<span class="font-bold">{{etudiant.cne}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
</section>
<div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-800 bg-opacity-80 flex justify-center items-center z-50">
  
    <!-- Modal -->
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-3xl mx-2">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold">Modifier le profil</h3>
        <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
  
      <!-- Form inside the modal -->
      <form [formGroup]="updateEtdForm" (ngSubmit)="updateprofil()">
        <div class="flex flex-wrap gap-3">
        <div class="relative mb-6">
          <label for="nom" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Nom</label>
          <input name="nom" id="nom" formControlName="nom" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau Nom" required>
        </div>
        <div class="relative mb-6">
          <label for="prenom" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Prenom</label>
          <input type="text" name="prenom" id="prenom" formControlName="prenom" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau prenom" required>
        </div>
        <div class="relative mb-6">
          <label for="tel" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Telephone</label>
          <input name="tel" id="tel" formControlName="tel" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouveau Telephone" required>
        </div>
        <div class="relative mb-6">
          <label for="ville" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Ville</label>
          <input type="text" name="ville" id="ville" formControlName="ville" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Nouvelle Ville" required>
        </div>
        <div class="relative mb-6">
          <label for="sexe" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Sexe</label>
          <select name="sexe" id="sexe" formControlName="sexe" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
            <option value="" disabled selected>Sélectionner le sexe</option>
            <option value="Masculin" >Masculin</option>
            <option value="Feminin">Féminin</option>
          </select>
        </div>
        
        <div class="relative mb-6">
          <label for="niveau" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Niveau</label>
          <select name="niveau" id="niveau" formControlName="niveau" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
            <option value="" disabled selected>Sélectionner le Niveau</option>
            <option value="FI-1">FI-1</option>
            <option value="FI-2">FI-2</option>
            <option value="FI-3">FI-3</option>
            <option value="M-1">M-1</option>
            <option value="M-2">M-2</option>
          </select>
        </div>
        <div class="relative mb-6">
          <label for="nationalite" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Nationalité</label>
          <select name="nationalite" id="nationalite" formControlName="nationalite" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
            <option value="" disabled selected>Sélectionner la Nationalité</option>
            <option value="Marocain">Marocain</option>
            <option value="Etranger">Etranger</option>
          </select>
        </div>
        
        <div class="relative mb-6">
          <label for="filiere" class="flex items-center mb-2 text-gray-600 text-sm font-medium">Filière</label>
          <select name="filiere" id="filiere" formControlName="filiere" class="block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" required>
            <option value="" disabled selected>Sélectionner la Filière</option>
            <option value="BDCC">BDCC</option>
            <option value="GLSID">GLSID</option>
            <option value="CCN">CCN</option>
            <option value="SDIA">SDIA</option>
            <option value="GECSI">GECSI</option>
            <option value="GMSI">GMSI</option>
            <option value="GIL">GIL</option>
            <option value="GEII">GEII</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        
      </div>
        
        <!-- Submit and Cancel buttons -->
        <div class="flex justify-end space-x-4">
          <button type="button" (click)="closeModal()" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700">Cancel</button>
          <button type="submit" class="py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Modifier</button>
        </div>
      </form>
    </div>
  </div>